*{
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
 }
  
 html, body
 {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
 }
 
 .toolBar 
 {
    margin: 0;
    padding: 30px;
    background-color: #0c0c0c;
 }
 
 .linksStyle 
 {
    display: flex;
    justify-content: center; 
    gap: 200px; 
 }
 
 .linksStyle a 
 {
    font-size: 200%;
    color: #41288d;
    text-decoration: none;
 }
 
 #descriptionID 
 {
    color: rgb(192, 166, 253); /* Cambia 'red' por el color que prefieras */
}

 .gameTitle
 {
    padding: 30px;
    justify-content: center;
    background-color: #0c0031;
 }

 .gameTitle h1
 {
    font-size: 700%;
    justify-content: center;
    display: flex;
    color: rgb(219, 219, 219);
    letter-spacing: 15px;
 }
 
 /* 
 .DESCRIPTION 
 {
    padding: 60px;
    background-color:#425a70;
 }
 
 
 .DESCRIPTION h2
 {
    letter-spacing: 10px;
    display: flex;
    justify-content: center; 
    gap: 150px;  
    font-size: 400%;  
 }
 
 .DESCRIPTION p
 {
    font-size: 200%;
    text-align: center;
 }

*/

.container 
{
    display: flex;
    flex-direction: row;
    width: 100%;
}
 



.DESCRIPTION, .Terminology {
    flex: 1; /* Cada uno ocupará la misma cantidad de espacio */
    padding: 60px;
    background-color: #425a70;
}

.container h2 {
    letter-spacing: 10px;
    display: flex;
    justify-content: center; 
    font-size: 400%;  
}

.container p, .Terminology ul {
    font-size: 200%;
    text-align: center;
    margin: 10%;
}

.Terminology ul {
    padding: 0;
}

.Terminology li {
    margin-bottom: 10px;
}




/*



.container h2
{
    letter-spacing: 10px;
    display: flex;
    justify-content: center; 
    gap: 150px;  
    font-size: 400%;  
}

.container p{
    font-size: 200%;
    text-align: center;
}






 .Terminology {
    padding: 60px;
    background-color: #425a70;
}

.Terminology h2 {
    letter-spacing: 10px;
    display: flex;
    justify-content: center; 
    gap: 150px;  
    font-size: 400%;  
}

.Terminology ul {
    font-size: 100%;
    padding: 0;
}

*/