/* Estilos generales para la página web */
html, body {
    font-family: "Sedan SC", serif;
    margin: 0;
    padding: 0;
    background-color: white;
 }

/* Estilos para el barra principal fija de comandos */ 
 .toolBar 
 {
    padding-top:50px;
    padding-bottom:50px ;
    margin: 0%;
    background-color: #0c0c0c;
    width: 100%;
 }

 .toolBar nav
 {
    display: flex;  
    gap: 130px;
    justify-content: center; 
 }
 
 .toolBar 
 {
    display: flex;
    justify-content: center; 
 }
 
 .toolBar a
 {
    font-size: 200%;
    color: #41288d;
    text-decoration: none;
 }

 .toolBar a:hover
 {
    color: #d8cbff;
 }
 


#descriptionID 
 {
    color: rgb(192, 166, 253); 

}

.toolBar nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.toolBar nav a:hover {
    text-decoration: underline;
    color: black;
}

/* Estilo para el pie de página con info extra */
footer {
    background-color: gray;
    color: white;
    text-align: center;
    padding: 10rem 0;
    width: 100%;
}

/* FALTA POR EDITAR */



 .gameTitle
 {
    padding: 200px 0px;
    justify-content: center;
    background-color: #0c0031;
    width: 100%;
    background-image:url('../images/description.jpg');
    background-position: center;
 }

 .gameTitle h1
 {
    font-size: 400%;
    justify-content: center;
    display: flex;
    color: rgb(219, 219, 219);
    letter-spacing: 15px;
 }

.rowContainer 
{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0%;
    background-color: #32233a;
    color: #d8cbff;

}
 

.rowContainer h2
{
    justify-content: center;
    display: flex;
    font-size: 250%;
    color:rgb(219, 219, 219);
}

.rowContainer div
{
    flex: 1;
}

.rowContainer p 
{
    padding: 20px;
    font-size: 150%;
    justify-content: center;
    display: flex;
    text-align: center;    
}

.Terminology
{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0%;
    background-color: #433a4b;
    color: #d8cbff;
}

.Terminology div
{
    justify-content: center;
    flex: 1;    
}

.Terminology h2
{
    justify-content: center;
    display: flex;
    font-size: 250%;
    color: rgb(219, 219, 219);
}


.Terminology ul 
{
    list-style-position: inside; 
    text-align: center;
    font-size: 150%;
    line-height:50px;
}


.footer {
    background-color:rgb(25, 19, 32);
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

.footer div {
    flex: 1;
    padding: 10px;
    text-align: center;
}

.footer h4 {
    margin-bottom: 10px;
    font-size: 150%;
    color: #59337c;
}

.footer ul, .footer nav {
    list-style: none;
    padding: 0;
}

.footer ul li, .footer nav a {
    margin-bottom: 5px;
    color: #757575;
    text-decoration: none;
    height: 30px;
}

.footer nav a {
    display: block;
    height: 30px;
}

.footer nav a:hover {
    text-decoration: underline;}

.footer nav a img.icon 
{
    width: 20px; /* Adjust the size as needed */
    height: auto;
    margin-right: 8px;
    vertical-align: middle;
}

.footer nav a img.icon,
.footer ul li img.icon {
    width: 20px; /* Ajusta el tamaño según sea necesario */
    height: auto;
    margin-right: 8px;
    vertical-align: middle;
}

.footer nav a,
.footer ul li a {
    color: #757575;
    text-decoration: none;
}

.footer nav a:hover,
.footer ul li a:hover {
    text-decoration: underline;
}