/* Estilos generales para la página web */
html, body {
    font-family: "Sedan SC", serif;
    margin: 0;
    padding: 0;
    background-color: white;
 }

/* Estilos para el barra principal fija de comandos */
.toolBar {
    background-color: gray;
    padding: 1rem;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.toolBar nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.toolBar nav a:hover {
    text-decoration: underline;
    color: black;
}

/* Estilo para el pie de página con info extra */
footer {
    background-color: gray;
    color: white;
    text-align: center;
    padding: 10rem 0;
    width: 100%;
}

/* FALTA POR EDITAR */


 .gameTitle
 {
    padding: 200px 0px;
    justify-content: center;
    background-color: #0c0031;
    width: 100%;
    background-image:url('../images/description.jpg');
    background-position: center;
 }

 .gameTitle h1
 {
    font-size: 400%;
    justify-content: center;
    display: flex;
    color: rgb(219, 219, 219);
    letter-spacing: 15px;
 }

.rowContainer 
{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0%;
    background-color: #32233a;
    color: #d8cbff;

}
 

.rowContainer h2
{
    justify-content: center;
    display: flex;
}

.rowContainer div
{
    flex: 1;
}

.rowContainer p 
{
    padding: 20px;
    font-size: 150%;
    justify-content: center;
    display: flex;
    text-align: center;
    
}


.DESCRIPTION, .Terminology {
    flex: 1; /* Cada uno ocupará la misma cantidad de espacio */
    padding: 0px;
    margin: 0px;
    background-color: #425a70;
}

.container h2 {
    letter-spacing: 10px;
    display: flex;
    justify-content: center; 
    font-size: 400%; 
    width: 100%;
}

.container p, .Terminology ul {
    font-size: 200%;
    text-align: center;
    margin: 0%;
}

.Terminology ul {
    padding: 0;

}

.Terminology li {
    margin-bottom: 10px;
}




/*



.container h2
{
    letter-spacing: 10px;
    display: flex;
    justify-content: center; 
    gap: 150px;  
    font-size: 400%;  
}

.container p{
    font-size: 200%;
    text-align: center;
}






 .Terminology {
    padding: 60px;
    background-color: #425a70;
}

.Terminology h2 {
    letter-spacing: 10px;
    display: flex;
    justify-content: center; 
    gap: 150px;  
    font-size: 400%;  
}

.Terminology ul {
    font-size: 100%;
    padding: 0;
}

*/