*{
   font-family: "Sedan SC", serif;
   font-weight: 400;
   font-style: normal;
}
 
html, body
{
   width: 100%;
   height: 100%;
   margin: 0%;
}

.toolBar 
{
   padding-top:50px;
   padding-bottom:50px ;
   margin: 0%;
   background-color: #0c0c0c;
   width: 100%;
}

.toolBar nav
{
   display: flex;  
   gap: 130px;
   justify-content: center; 
}

.toolBar 
{
   display: flex;
   justify-content: center; 
}

.toolBar a
{
   font-size: 200%;
   color: #41288d;
   text-decoration: none;
}

.toolBar a:hover
{
   color: #d8cbff;
}



#gameID 
{
   color: rgb(192, 166, 253); 
}



z


















.footer {
   background-color:rgb(25, 19, 32);
   padding: 20px 0;
   display: flex;
   justify-content: space-around;
}

.footer div {
   flex: 1;
   padding: 10px;
   text-align: center;
}

.footer h4 {
   margin-bottom: 10px;
   font-size: 150%;
   color: #59337c;
}

.footer ul, .footer nav {
   list-style: none;
   padding: 0;
}

.footer ul li, .footer nav a {
   margin-bottom: 5px;
   color: #757575;
   text-decoration: none;
   height: 30px;
}

.footer nav a {
   display: block;
   height: 30px;
}

.footer nav a:hover {
   text-decoration: underline;}

.footer nav a img.icon 
{
   width: 20px; /* Adjust the size as needed */
   height: auto;
   margin-right: 8px;
   vertical-align: middle;
}

.footer nav a img.icon,
.footer ul li img.icon {
   width: 20px; /* Ajusta el tamaño según sea necesario */
   height: auto;
   margin-right: 8px;
   vertical-align: middle;
}

.footer nav a,
.footer ul li a {
   color: #757575;
   text-decoration: none;
}

.footer nav a:hover,
.footer ul li a:hover {
   text-decoration: underline;
}