/* Estilos generales para la página web */
html, body 
{
    font-family: "Sedan SC", serif;
    font-size:16px;
    margin: 0;
    padding: 0;
    background-color: rgb(133, 133, 133);
}


/*Estilos para la toolbar*/
header 
{
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    font-size: 2rem;
}


header nav a 
{
    color: rgb(60, 46, 86);
    text-decoration: none;
    font-weight: bold;
    padding: 2rem; 
}

header a:hover 
{
    color: rgb(178, 136, 232);
}


header img
{
    width: 1000rem;
}





/* Estilo para el pie de página con info extra */
footer {
    background-color: #2F2F2F;
    color: white;
    text-align: center;
    padding-top: 2rem;
    font-size: 12px;
}

footer hr {
    border: none;
    border-top: 1px solid white;
    margin: 2rem auto;
    width: 90%;
}

#copyright {
    padding-bottom: 2rem;
}

.contact-us {
    background-color: #2F2F2F;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    color: white;
}

.media-access {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media-access h4 {
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
}

.media-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

.media-content img.icon {
    margin-right: 10px;
}

.media-content a {
    color: white;
    text-decoration: none;
}

.media-content a:hover {
    text-decoration: underline;
    color: blue;
}

.icon {
    width: 20px;
    height: auto;
    margin-right: 8px;
    vertical-align: middle;
}