
.chartContainer
{
   background-color: white;
   border: 0;
   display: flex;
   justify-content: space-around; 
   align-items: center;
}

.chartContainer canvas 
{
   margin-top: 15rem;
   margin-bottom: 5rem;
   max-width: 30rem; 
   max-height: 30rem;
}

