
.chartContainer
{
   background-color: white;
   border: 0;
   display: flex;
   justify-content: space-around; 
   align-items: center;
}

.chartContainer canvas 
{
   margin-top: 10%;
   margin-bottom: 5%;
   max-width: 600px; 
   max-height: 600px;
}

