.chartContainer {
   background-color: rgb(175, 165, 187);
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;  /* Permitir que los elementos se envuelvan en múltiples líneas si es necesario */
   padding: 1rem;  /* Añadir padding para separación interna */
}

.chartContainer canvas {
   margin: 1rem;
   max-width: 25rem;
   max-height: 25rem;
   flex: 1 1 calc(33% - 2rem);  /* Ajustar el ancho de los elementos y permitir que se ajusten en la línea */
   box-sizing: border-box;  /* Incluir padding y border en el ancho total */
}